@use "../../global/variables.scss" as v;

.address {
  position: relative;
}

.address__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: v.$basic-white;

  &--alt {
    background-color: v.$basic-grey;
  }

  @media (min-width: v.$tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: v.$desktop-width) {
    position: absolute;
    top: 95px;
    left: calc((100vw - (v.$desktop-width - 2 * v.$desktop-pd)) / 2);
    column-gap: 87px;
    padding: 60px 79px;
    background-color: v.$basic-white;
    z-index: 2;
  }
}

.address__title {
  display: inline-block;
  max-width: 140px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: v.$basic-black-alt;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    max-width: 163px;
    font-size: 20px;
    line-height: 26px;
  }
}

.address__text {
  max-width: 140px;
  margin: 0;
  font-family: "Lato", "Tahoma", sans-serif;
  font-style: normal;
  line-height: 20px;
  color: v.$special_dark-grey;

  @media (min-width: v.$tablet-width) {
    max-width: 157px;
    font-size: 16px;
    text-align: end;

    .address__city {
      display: block;
      margin-top: 20px;
    }
  }

  @media (min-width: v.$desktop-width) {
    text-align: left;
  }
}
