@use "../../global/variables.scss" as v;

.button {
  display: inline-block;
  width: 248px;
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: v.$special_dark-grey;
  text-decoration: none;
  text-transform: uppercase;
  background-color: v.$basic-grey;

  &--secondary {
    color: v.$basic-white;
    background-color: v.$basic-green;
  }
}
