@use "../../global/variables.scss" as v;

.button {
  display: inline-block;
  width: 248px;
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: v.$special_dark-grey;
  text-decoration: none;
  text-transform: uppercase;
  background-color: v.$basic-grey;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;

  &:hover:not(:disabled) {
    background-color: v.$special_grey-light;
  }

  &:focus-visible {
    outline: 3px solid v.$focus;
    outline-offset: 2px;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      outline: 3px solid v.$focus;
      outline-offset: 2px;
    }
  }

  &:active:not(:disabled) {
    color: rgba($color: v.$special_dark-grey, $alpha: 0.3);
  }

  &:disabled {
    opacity: 0.6;
  }

  &--secondary {
    color: v.$basic-white;
    background-color: v.$basic-green;

    &:hover:not(:disabled) {
      background-color: v.$basic-green-alt;
    }

    &:active:not(:disabled) {
      color: rgba($color: v.$basic-white, $alpha: 0.3);
    }
  }
}
