@use "../../global/variables.scss" as v;

.description-text {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: v.$special_dark-grey;

  @media (min-width: v.$tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
