@use "../../global/variables.scss" as v;

.main-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 280px;
  padding-top: 13px;
  padding-bottom: 14px;

  @media (min-width: v.$tablet-width) {
    padding-top: 25px;
    padding-bottom: 0;
  }
}

@media (min-width: v.$desktop-width) {
  .main-header--absolute {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding-top: 56px;
    z-index: 5;
  }
}

.main-header__logo {
  display: block;
}

.main-header__logo-link {
  display: inline-block;

  @media (min-width: v.$tablet-width) {
    display: flex;
    align-items: center;

    .main-header__logo {
      margin-right: 13px;
    }
  }
}

.main-header__logo-text {
  @media (max-width: v.$mobile-width-only) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: v.$tablet-width) {
    padding: 16px 0;
  }

  @media (min-width: v.$desktop-width) {
    padding: 19px 0;
  }
}
