@use "../../global/variables.scss" as v;

.main-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-width: 280px;
  padding-top: 13px;
  padding-bottom: 14px;

  @media (min-width: v.$tablet-width) {
    padding-top: 25px;
    padding-bottom: 0;
  }

  @media (min-width: v.$desktop-width) {
    padding-top: 55px;

    &.main-header--absolute {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: 100%;
      z-index: 5;
    }
  }
}

.main-header__logo-link {
  @media (min-width: v.$tablet-width) {
    display: flex;
    align-items: center;

    .main-header__logo {
      width: 60px;
      height: auto;
      margin-right: 13px;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media (min-width: v.$desktop-width) {
    .main-header__logo {
      width: 70px;
      margin-right: 14px;
    }
  }
}

.main-header__logo,
.main-header__logo-text {
  display: block;
}

.main-header__logo-text {
  @media (max-width: v.$mobile-width-only) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: v.$desktop-width) {
    width: 118px;
    height: auto;
  }
}

// Оформление меню на случай выключенного скрипта
@media (max-width: v.$mobile-width-only) {
  .main-header--nojs {
    &.main-header {
      flex-direction: column;
      padding-bottom: 0;
    }

    .main-header__logo-link {
      align-self: flex-start;
      padding-bottom: 14px;
    }

    .main-header__logo-text {
      top: 5px;
      left: 50%;
      transform: translate(-50%, 100%);
    }

    .main-nav__toggle {
      display: none;
    }

    .main-nav__wrapper.main-nav__wrapper {
      position: static;
      transform: none;
    }
  }
}
