@use "../../global/variables.scss" as v;

.main-header {
  position: relative;
  padding: 13px 20px 14px;
  min-width: 280px;
}

.main-header__logo-link {
  display: inline-block;
}

/* Заготовка для дальнейшего позиционирования лого-текста
.main-header__logo-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
*/
