@use "../../global/variables.scss" as v;

html {
  height: 100%;
}

body {
  max-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: v.$basic-black;
  background-color: v.$basic-white;
}
