@use "../../global/variables.scss" as v;

.social {
  display: grid;
  row-gap: 19px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: v.$basic-grey;

  @media (min-width: v.$tablet-width) {
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: v.$desktop-width) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.social__logo-link {
  justify-self: center;
  width: 128px;
  height: 24px;
  mask-image: url("../img/sprite.svg#logo-text-footer");
  background-color: v.$basic-black-alt;
  transition: color 0.4s;

  @media (min-width: v.$tablet-width) {
    &:hover,
    &:focus {
      background-color: v.$logo-company-hover;
    }

    &:active {
      background-color: v.$logo-company-active;
    }
  }
}

.social__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 0;
  padding: 20px 74px;
  list-style: none;
  border-top: 1px solid v.$line;
  border-bottom: 1px solid v.$line;

  @media (min-width: v.$tablet-width) {
    margin-left: 40px;
    padding: 0;
    border: none;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 22px;

  &::before {
    content: "";
    background-color: v.$special_grey-alt;
    transition: background-color 0.3s;
  }

  &--vk {
    &::before {
      width: 27px;
      height: 17px;
      mask-image: url("../img/sprite.svg#icon-vk");
    }
  }

  &--yt {
    &::before {
      width: 24px;
      height: 19px;
      mask-image: url("../img/sprite.svg#icon-youtube");
    }
  }

  &--tg {
    &::before {
      width: 20px;
      height: 18px;
      mask-image: url("../img/sprite.svg#icon-tg");
    }
  }


  @media (min-width: v.$tablet-width) {
    &:hover,
    &:focus {
      &::before {
        background-color: v.$basic-green;
      }
    }

    &:active {
      &::before {
        background-color: v.$basic-green;
        opacity: 0.3;
      }
    }
  }
}

.social__logo-academy-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;

  svg {
    transition: fill 0.4s;
  }

  @media (min-width: v.$tablet-width) {
    gap: 23px;

    &:hover svg,
    &:focus svg {
      fill: v.$basic-green;
    }

    &:active {
      fill: v.$basic-green;
      opacity: 0.3;
    }
  }
}

.logo-academy__text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: v.$special_dark-grey;
}

.logo-academy__logo {
  width: 27px;
  height: 34px;
}
