@use "../../global/variables.scss" as v;

.title-block {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;

  &--secondary-white {
    line-height: 36px;
    color: v.$basic-white;
  }

  &--secondary-black {
    line-height: 36px;
    color: v.$basic-black;
  }

  @media (min-width: v.$tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
