.title-block {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
}

.title-block--secondary-white {
  line-height: 36px;
  color: #ffffff;
}

.title-block--secondary-black {
  line-height: 36px;
  color: #000000;
}
