@use "../../global/variables.scss" as v;

.advantages {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  @media (max-width: v.$mobile-width-only) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
