@use "../../global/variables.scss" as v;

.nutrition-program {
  width: 100%;
  padding: 30px 20px 18px;
  box-sizing: border-box;
  background-color: v.$basic-grey;
}

.nutrition-program__title {
  margin-left: 70px;
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.nutrition-program__description {
  margin-bottom: 15px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 23px;
    background-color: v.$index-line-nutrition;
  }
}

.nutrition-program__link {
  font-size: 16px;
  line-height: 16px;
  color: v.$basic-black;
  text-decoration: none;
  text-transform: uppercase;
}
