@use "../../global/variables.scss" as v;

.nutrition-program {
  position: relative;
  padding: 30px 20px 18px;
  background-color: v.$basic-grey;

  &--slim::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 20px;
    width: 50px;
    height: 53px;
    background: url("../img/icons/icon-cat-slim.svg") no-repeat;
    background-size: 50px 53px;
  }

  &--pro::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 12px;
    width: 67px;
    height: 50px;
    background: url("../img/icons/icon-cat-pro.svg") no-repeat;
    background-size: 67px 50px;
  }

  @media (min-width: v.$tablet-width) {
    padding: 77px 316px 53px 53px;

    &--slim::before {
      top: 80px;
      left: auto;
      right: 63px;
      width: 200px;
      height: 211px;
      background-size: 200px 211px;
    }

    &--pro::before {
      top: 91px;
      left: auto;
      right: 29px;
      width: 268px;
      height: 200px;
      background-size: 268px 200px;
    }
  }

  @media (min-width: v.$desktop-width) {
    padding: 77px 61px 55px 52px;

    &--slim::before {
      top: 41px;
      left: 52px;
      right: auto;
      width: 100px;
      height: 106px;
      background-size: 100px 106px;
    }

    &--pro::before {
      top: 47px;
      left: 35px;
      width: 134px;
      height: 100px;
      background-size: 134px 100px;
    }
  }
}

.nutrition-program__title {
  margin: 0 0 29px 70px;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    margin: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: v.$desktop-width) {
    margin: 0 0 73px 162px;
  }
}

.nutrition-program__description {
  margin-bottom: 15px;
  min-width: 227px;

  @media (max-width: v.$mobile-width-only) {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      margin-top: 22px;
      background-color: v.$line;
    }
  }

  @media (min-width: v.$tablet-width) {
    max-width: 340px;
    margin-bottom: 48px;
    color: v.$basic-black;
  }

  @media (min-width: v.$desktop-width) {
    max-width: 600px;
    margin-bottom: 23px;
  }
}

.nutrition-program__link {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding: 4px 0;
  font-size: 16px;
  line-height: 16px;
  color: v.$basic-black;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    column-gap: 25px;
    font-size: 20px;
    line-height: normal;

    &:hover span{
      width: 26px;

      &::after {
        transform: translate(26px, -50%);
      }
    }

    &:focus-visible {
      outline: 2px solid v.$focus;
      outline-offset: 2px;
    }

    @supports not selector(:focus-visible) {
      &:focus {
        outline: 2px solid v.$focus;
        outline-offset: 2px;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.program-link__arrow-right {
  position: relative;
  width: 18px;
  height: 2px;
  background-color: v.$basic-black;
  transition: width 0.3s;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    border: 6px solid #000;
    border-color: transparent transparent transparent #000000;
    transform: translate(18px, -50%);
    transition: transform 0.3s;
  }
}
