@use "../../global/variables.scss" as v;

.nutrition-program {
  padding: 30px 20px 18px;
  background-color: v.$basic-grey;

  @media (min-width: v.$tablet-width) {
    padding: 81px 63px 53px 53px;
  }

  @media (min-width: v.$desktop-width) {
    padding: 41px 61px 55px 52px;
  }
}

.nutrition-program__title {
  margin: 0 0 29px 70px;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    margin: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: v.$desktop-width) {
    margin: 77px 0 73px 162px;
  }
}

.nutrition-program__description {
  margin-bottom: 15px;
  min-width: 227px;

  @media (max-width: v.$mobile-width-only) {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      margin-top: 23px;
      background-color: v.$index-line;
    }
  }

  @media (min-width: v.$tablet-width) {
    max-width: 340px;
    margin-bottom: 48px;
    color: v.$basic-black;
  }

  @media (min-width: v.$desktop-width) {
    max-width: 457px;
    margin-bottom: 23px;
  }
}

.nutrition-program__link {
  font-size: 16px;
  line-height: 16px;
  color: v.$basic-black;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}
