@use "../../global/variables.scss" as v;

.nutritional-results {
  position: relative;
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: v.$index-nutritional-results;

  @media (min-width: v.$tablet-width) {
    padding-top: 44px;
    padding-bottom: 101px;
    border-top: 1px solid v.$index-line-nav;
    background: linear-gradient(to top, v.$index-nutritional-results 462px, v.$basic-white 462px);
  }

  @media (min-width: v.$desktop-width) {
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    background: linear-gradient(to top, v.$basic-grey 462px, v.$basic-white 462px);
  }
}

.nutritional-results__title {
  margin-bottom: 40px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 76px;
  }
}

.nutritional-results__wrapper {
  @media (min-width: v.$desktop-width) {
    padding: 70px 787px 75px 0;
  }
}

.nutritional-results__description {
  margin-bottom: 20px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 69px;
  }
}

.nutritional-results__total-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 34px;
  margin-bottom: 20px;

  @media (min-width: v.$tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 104px;
  }

  @media (min-width: v.$desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 60px;
    margin-bottom: 0;
  }
}

.nutritional-results__list {
  display: flex;
  justify-content: center;
  column-gap: 32px;
  box-sizing: border-box;
  margin: 0;

  @media (min-width: v.$tablet-width) {
    column-gap: 43px;
  }
}

.nutritional-results__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 124px;
  min-height: 56px;
  box-shadow: inset 0 0 0 1px v.$special_grey;
  border-radius: 3px;

  @media (min-width: v.$tablet-width) {
    min-width: 162px;
    min-height: 72px;
  }
}

.nutritional-results__param {
  padding-top: 13px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    padding-top: 14px;
    font-size: 30px;
    line-height: 37px;
  }
}

.nutritional-results__definition {
  max-width: 77px;
  height: auto;
  margin: 7px 0 -13px;
  padding: 0 4px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: v.$special_dark-grey;
  text-align: center;
  text-transform: lowercase;
  background-color: v.$index-nutritional-results;

  @media (min-width: v.$tablet-width) {
    max-width: 140px;
    width: max-content;
    margin: 11px 0 -4px;
    padding: 0 8px;
    font-size: 14px;
    line-height: 14px;
    background-color: v.$basic-white;
  }

  @media (min-width: v.$desktop-width) {
    width: max-content;
    padding: 0 8px;
    font-size: 14px;
    line-height: 14px;
    background-color: v.$basic-grey;
  }
}

.nutritional-results__cost-product {
  margin: 0;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: right;

    span {
      display: block;
      margin-top: 9px;
    }
  }

  @media (min-width: v.$desktop-width) {
    text-align: left;

    span {
      display: inline-block;
      margin-top: 0;
      margin-left: 63px;
    }
  }
}
