@use "../../global/variables.scss" as v;

.promo-product {
  position: relative;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 302px;
    background:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)) center top,
      url("../img/cat-bg.jpg") center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    z-index: -1;
  }

  @media (min-width: v.$tablet-width) {
    padding-bottom: 526px;
    text-align: left;
    background: none;

    &::before {
      content: none;
    }
  }

  @media (min-width: v.$desktop-width) {
    padding-top: 225px;
    padding-bottom: 183px;
    text-align: left;

    &::before {
      content: "";
      width: 50%;
      height: 100%;
      left: auto;
      right: 0;
      background-position: center top, right center;
    }
  }
}

.promo-product__promo-text {
  margin: 0 0 138px;
  padding: 27px 0 164px;

  @media (min-width: v.$tablet-width) {
    margin: 0;
    padding: 65px 90px 50px;
  }

  @media (min-width: v.$desktop-width) {
    margin: 0 0 52px 79px;
    padding: 0;
  }
}

.promo-product__title {
  max-width: 390px;
  margin: 0 auto 25px;

  @media (min-width: v.$tablet-width) {
    max-width: 420px;
    margin: 0 0 40px;
    color: v.$basic-black;
  }
}

.promo-product__slogan {
  margin: 0;
  line-height: 14px;
  color: v.$basic-white;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    max-width: 420px;
    font-size: 20px;
    line-height: 20px;
    color: v.$basic-black;
  }
}

.promo-product__image {
  position: absolute;
  top: 167px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: v.$tablet-width) {
    top: auto;
    bottom: 0;
    left: 30px;
    transform: none;
    z-index: -1;
  }

  @media (min-width: v.$desktop-width) {
    top: 143px;
    left: 557px;
    z-index: 1;
  }
}

.promo-product__button-guide {
  min-width: 280px;
  width: 100%;
  margin: 0 auto;
  padding: 11px 0;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: v.$tablet-width) {
    min-width: 244px;
    width: auto;
    margin-left: 90px;
    padding: 17px 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: v.$desktop-width) {
    margin-left: 79px;
  }
}
