@use "../../global/variables.scss" as v;

.slider-compare-cat {
  position: relative;

  @media (min-width: v.$tablet-width) {
    height: 462px;
    background-color: v.$index-nutritional-results;
  }

  @media (min-width: v.$desktop-width) {
    background-color: transparent;
  }
}

.slider-compare-cat__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.cat-item__image-2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slider-compare-cat__curtain-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
}
