@use "../../global/variables.scss" as v;

.additionally-product-card {
  padding: 13px 0 19px;
  box-shadow: 0 -1px 0 0 v.$special_grey;

  &:last-child {
    box-shadow:
      0 -1px 0 0 v.$special_grey,
      0 1px 0 0 v.$special_grey;
  }

  @media (min-width: v.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 26px;
    padding: 26px 38px 28px;
    border-left: 1px solid v.$special_grey;
    border-right: 1px solid v.$special_grey;
  }

  @media (min-width: v.$desktop-width) {
    grid-template-columns: 1fr 284px 244px;
    align-items: center;
    border-left: none;
    border-right: none;
    gap: 15px 41px;
    padding: 15px 0 17px;
  }
}

.additionally-product-card__title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  color: v.$special_dark-grey-alt;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.additionally-product-card__text-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  margin-bottom: 15px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 0;
  }
}

.additionally-product-card__description,
.additionally-product-card__price {
  font-family: "Lato", "Tahoma", sans-serif;
  line-height: 14px;
  color: v.$special_dark-grey;

  @media (min-width: v.$tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additionally-product-card__button {
  width: 100%;

  @media (min-width: v.$tablet-width) {
    grid-column: span 2;
  }

  @media (min-width: v.$desktop-width) {
    grid-column: 3 / 4;
  }
}
