@use "../../global/variables.scss" as v;

.additionally-product {
  @media (min-width: v.$desktop-width) {
    grid-row: 2/3;
  }
}

.additionally-product__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
