@use "../../global/variables.scss" as v;

.cat-product {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.cat-product__item {
  position: relative;

  @media (max-width: v.$mobile-width-only) {
    &::before,
    &:last-child::after {
      content: "";
      position: absolute;
      top: 0;
      left: v.$mobile-pd * -1;
      width: 100vw;
      height: 1px;
      background-color: v.$special_grey-light;
    }

    &:last-child::after {
      top: auto;
      bottom: 0;
    }
  }
}
