@use "../../global/variables.scss" as v;

.main-inner-catalog {
  padding-top: 27px;
  padding-bottom: 35px;
  border-top: 1px solid v.$line;

  @media (min-width: v.$tablet-width) {
    padding-top: 64px;
    padding-bottom: 75px;
    border-top: none;
  }

  @media (min-width: v.$desktop-width) {
    padding-top: 75px;
    padding-bottom: 85px;
  }
}

.main-inner-catalog__title {
  margin-bottom: 41px;
  padding: 0 20px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 165px;
    padding: 0 30px;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 165px;
    padding: 0 110px;
  }
}
