@use "../../global/variables.scss" as v;

@mixin product-catalog-title($color: v.$basic-black-alt) {
  margin: 0;
  font-size: 16px;
  font-weight: inherit;
  line-height: 20px;
  color: $color;
  text-decoration: none;
  text-transform: uppercase;
}

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 0 25px;

  @media (min-width: v.$tablet-width) {
    grid-template: repeat(4, auto) / auto;
    padding: 10px 37px 40px;
    background: linear-gradient(to bottom, v.$basic-white 81px, v.$basic-grey 81px);
  }

  @media (min-width: v.$desktop-width) {
    padding: 10px 38px 40px;
  }
}

.cat-product__item {
  position: relative;

  @media (max-width: v.$mobile-width-only) {
    &::before,
    &:last-child::after {
      content: "";
      position: absolute;
      top: 0;
      left: v.$mobile-pd * -1;
      width: 100vw;
      height: 1px;
      background-color: v.$special_grey-light;
    }

    &:last-child::after {
      top: auto;
      bottom: 0;
    }
  }
}

.product-card__link-image {
  display: inline-block;
  grid-row: 1 / 3;
  place-self: center;

  @media (min-width: v.$tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: auto;
    width: 200px;
    height: 210px;
    margin-bottom: 22px;
  }

  @media (min-width: v.$desktop-width) {
    width: 169px;
  }
}

.product-card__image {
  width: 100%;
  height: auto;
  object-fit: scale-down;
}

.product-card__link-title {
  display: inline-block;
  grid-area: 1 / 2 / 2 / 3;
  max-width: 76px;
  margin-bottom: 14px;
  text-decoration: none;

  @media (min-width: v.$tablet-width) {
    grid-area: auto;
    justify-self: center;
    max-width: 135px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.product-card__title {
  @include product-catalog-title(v.$special_dark-grey-alt);

  @media (min-width: v.$tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.product-card__parameters-list {
  grid-area: 2 / 2 / 3 / 3;
  margin: 0;
  margin-bottom: 4px;

  @media (min-width: v.$tablet-width) {
    grid-area: auto;
  }
}

.parameters__item {
  display: flex;
  justify-content: space-between;

  @media (min-width: v.$tablet-width) {
    padding: 2px 0 4px;
    border-bottom: 1px solid v.$special_grey;

    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }
}

.product-parameter__name,
.product-parameter__description,
.card-show-more__description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: v.$special_dark-grey;

  @media (min-width: v.$tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-parameter__description {
  margin: 0;
}

.product-card__button-order,
.card-show-more__button {
  grid-column: span 2;
  justify-self: center;
  width: 100%;
  margin-top: 17px;

  @media (min-width: v.$tablet-width) {
    grid-column: auto;
    margin-top: 32px;
  }

  @media (min-width: v.$desktop-width) {
    max-width: 169px;
  }
}

.card-show-more {
  padding: 25px 0;
  text-align: center;

  .card-show-more__button {
    margin-top: 0;
  }

  @media (min-width: v.$tablet-width) {
    align-self: end;
    box-sizing: border-box;
    max-height: 429px;
    padding: 50px 37px 40px;
    outline: 2px solid v.$basic-grey;
  }
}

.card-show-more__title {
  @include product-catalog-title();
  margin-bottom: 8px;
  text-align: center;

  &::before {
    content: "";
    display: block;
    height: 30px;
    width: 30px;
    margin: 0 auto 23px;
    background:
      linear-gradient(v.$plus-symbol, v.$plus-symbol),
      linear-gradient(v.$plus-symbol, v.$plus-symbol);
    background-position: center;
    background-size: 100% 2px, 2px 100%;
    background-repeat: no-repeat;
  }

  @media (min-width: v.$tablet-width) {
    max-width: 170px;
    margin: 0 auto 23px;
    font-size: 20px;
    line-height: 24px;

    &::before {
      height: 60px;
      width: 60px;
      margin: 0 auto 50px;
    }
  }
}

.card-show-more__description {
  margin: 0;
  margin-bottom: 21px;
  text-align: center;

  @media (min-width: v.$tablet-width) {
    max-width: 170px;
    margin: 0 auto 82px;
    line-height: 18px;
  }
}
