@use "../../global/variables.scss" as v;

@mixin product-catalog-title($color: v.$basic-black-alt) {
  margin: 0;
  font-size: 16px;
  font-weight: inherit;
  line-height: 20px;
  color: $color;
  text-decoration: none;
  text-transform: uppercase;
}

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 0 25px;

  @media (min-width: v.$tablet-width) {
    grid-template: repeat(4, auto) / auto;
    padding: 10px 37px 40px;
    background: linear-gradient(to bottom, v.$basic-white 81px, v.$basic-grey 81px);
  }

  @media (min-width: v.$desktop-width) {
    padding: 10px 38px 40px;
  }
}

.product-card__link-image {
  display: inline-block;
  grid-row: 1 / 3;
  place-self: center;
  transition: opacity 0.3s;

  @media (min-width: v.$tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: auto;
    width: 200px;
    height: 210px;
    margin-bottom: 22px;

    &:hover img {
      transform: translate(10%, -10%) rotate(10deg);
    }

    &:focus-visible {
      outline: 2px solid v.$focus;
      outline-offset: 2px;
      border-radius: 2px;
    }

    @supports not selector(:focus-visible) {
      &:focus {
        outline: 2px solid v.$focus;
        outline-offset: 2px;
        border-radius: 2px;
      }
    }

    &:active {
      opacity: 0.8;
    }
  }

  @media (min-width: v.$desktop-width) {
    width: 169px;
    margin-bottom: 12px;
  }
}

.product-card__image {
  width: 100%;
  height: auto;
  object-fit: scale-down;
  transition: transform 0.3s;
}

.product-card__link-title {
  display: inline-block;
  grid-area: 1 / 2 / 2 / 3;
  max-width: 76px;
  margin-bottom: 14px;
  text-decoration: none;

  @media (min-width: v.$tablet-width) {
    grid-area: auto;
    justify-self: center;
    max-width: 135px;
    margin-bottom: 20px;
    text-align: center;

    &:hover {
      text-decoration: underline wavy v.$special_grey-alt 1px;
    }

    &:focus-visible {
      outline: 2px solid v.$focus;
      outline-offset: 2px;
      border-radius: 2px;
    }

    @supports not selector(:focus-visible) {
      &:focus {
        outline: 2px solid v.$focus;
        outline-offset: 2px;
        border-radius: 2px;
      }
    }

    &:active {
      opacity: 0.8;
    }
  }
}

.product-card__title {
  @include product-catalog-title(v.$special_dark-grey-alt);

  @media (min-width: v.$tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.product-card__parameters-list {
  grid-area: 2 / 2 / 3 / 3;
  margin: 0;
  margin-bottom: 4px;

  @media (min-width: v.$tablet-width) {
    grid-area: auto;
  }
}

.card-show-more__description {
  margin: 0;
  margin-bottom: 21px;
  font-family: "Lato", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: v.$special_dark-grey;
  text-align: center;

  @media (min-width: v.$tablet-width) {
    max-width: 170px;
    margin: 0 auto 82px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: v.$desktop-width) {
    margin: 0 auto 90px;
  }
}

.product-card__button-order,
.card-show-more__button {
  grid-column: span 2;
  justify-self: center;
  align-self: end;
  width: 100%;
  margin-top: 18px;

  @media (min-width: v.$tablet-width) {
    grid-column: auto;
    margin-top: 30px;
  }

  @media (min-width: v.$desktop-width) {
    max-width: 169px;
    margin-top: 35px;
  }
}

.card-show-more {
  padding: 25px 0;
  text-align: center;

  .card-show-more__button {
    margin-top: 0;
  }

  @media (min-width: v.$tablet-width) {
    align-self: end;
    max-height: 429px;
    padding: 50px 37px 40px;
    outline: 2px solid v.$basic-grey;
  }
}

.card-show-more__title {
  @include product-catalog-title();
  margin-bottom: 8px;
  text-align: center;

  &::before {
    content: "";
    display: block;
    height: 30px;
    width: 30px;
    margin: 0 auto 23px;
    background:
      linear-gradient(v.$plus-symbol, v.$plus-symbol),
      linear-gradient(v.$plus-symbol, v.$plus-symbol);
    background-position: center;
    background-size: 100% 2px, 2px 100%;
    background-repeat: no-repeat;
  }

  @media (min-width: v.$tablet-width) {
    max-width: 170px;
    margin: 0 auto 23px;
    font-size: 20px;
    line-height: 24px;

    &::before {
      height: 60px;
      width: 60px;
      margin: 0 auto 50px;
    }
  }

  @media (min-width: v.$desktop-width) {
    margin: 0 auto 26px;

    &::before {
      margin: 0 auto 40px;
    }
  }
}
