// colors
$basic-green: #68b738;
$basic-green-alt: #5eaa2f;
$basic_grey: #f2f2f2;
$special_grey: #cdcdcd;
$special_grey-light: #ebebeb;
$special_grey-alt: #666666;
$special_dark-grey: #444444;
$special_dark-grey-alt: #222222;
$status_error: #ff8282;

// @Media
$tablet-width: 768px;
$desktop-width: 1440px;
