@use "../../global/variables.scss" as v;

.comment-text__title {
  margin-bottom: 38px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 87px;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 76px;
  }
}

.comment-text__textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 14px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: v.$special_dark-grey;
  text-transform: uppercase;
  border: none;
  outline: 1px solid v.$border-field;
  resize: none;

  @media (min-width: v.$tablet-width) {
    max-height: 174px;
    font-size: 20px;
    line-height: 30px;
  }
}
