@use "../../global/variables.scss" as v;
@use "../base/decor-line-generate.scss" as line;

.comment-text__title {
  display: flex;
  margin-bottom: 38px;

  @include line.line-decor-section ($mt: 15px, $mr:-20px);

  @media (min-width: v.$tablet-width) {
    margin-bottom: 87px;

    @include line.line-decor-section ($width-left: 30px, $mt: 23px, $ml:-70px, $mr:-70px, $gap: 40px, $count-line: 2);
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 78px;

    @include line.line-decor-section ($width-left: 70px, $mt: 23px, $ml:-110px, $mr:-110px, $gap: 40px, $count-line: 2);
  }
}

.comment-text__textarea {
  box-sizing: border-box;
  width: 100%;
  max-height: 150px;
  padding: 14px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: v.$special_dark-grey;
  text-transform: uppercase;
  border: 1px solid v.$border-field;
  resize: none;

  @media (min-width: v.$tablet-width) {
    padding: 11px 20px;
    max-height: 175px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: v.$tablet-width) {
    padding: 9px 20px;
  }

  &:hover:not(:disabled) {
    outline: 1px solid v.$special_grey;
  }

  &:focus {
    outline: 2px solid v.$special_dark-grey;
  }

  &:disabled {
    outline: 2px solid v.$status_error;
  }
}
