@use "../../global/variables.scss" as v;

@mixin text-style {
  font-size: 16px;
  line-height: 18px;
  color: v.$special_dark-grey;
  text-transform: uppercase;

  @media (max-width: v.$mobile-width-only) {
    height: 45px;
  }

  @media (min-width: v.$tablet-width) {
    font-size: 20px;
  }
}

.data-label {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  @include text-style;
}

.data-label__text {
  flex-shrink: 0;
  margin-right: 13px;
}

.field-data {
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  padding: 14px 40px 13px 15px;
  font-family: inherit;
  cursor: pointer;
  appearance: textfield;

  /* remove the arrows from the input */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  @include text-style;
  border: none;
  outline: 1px solid v.$border-field;

  &:hover:not(:disabled):not(:focus,:invalid) {
    outline: 1px solid v.$special_grey;
  }

  &:focus {
    outline: 2px solid v.$special_dark-grey;

    + .data-label__icon {
      background-color: v.$basic-green;
    }
  }

  &[required]:invalid {
    outline: 2px solid v.$status_error;

    + .data-label__icon {
      background-color: v.$status_error;
    }
  }

  &:disabled {
    opacity: 0.6;
  }

  @media (min-width: v.$tablet-width) {
    padding: 11px 40px 11px 20px;
  }
}

.data-label__icon {
  &--icon-email {
    mask: url("../img/sprite.svg#icon-email") no-repeat;
    mask-size: 20px 20px;
  }

  &--icon-tel {
    mask: url("../img/sprite.svg#icon-phone")  no-repeat;
    mask-size: 20px 20px;
  }

  &--icon-email,
  &--icon-tel {
    position: absolute;
    right: 12px;
    width: 20px;
    height: 20px;
    background-color: v.$basic-black;

    @media (min-width: v.$tablet-width) {
      right: 14px;
    }

    @media (min-width: v.$desktop-width) {
      right: 16px;
    }
  }
}
