@use "../../global/variables.scss" as v;

.program-nutrition-form__inner-header {
  // Для бесшовного перехода от планшета к десктопу max-width = 1439px
  @media (min-width: v.$tablet-width) and (max-width: calc(v.$desktop-width - 1px)) {
    padding: 0 70px;
  }
}

.program-nutrition-form__title {
  margin: 0;
  margin-bottom: 37px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 55px;
  }
}

.program-nutrition-form__description {
  max-width: 230px;
  margin: 0;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    max-width: 330px;
    font-size: 20px;
    line-height: 30px;
  }
}
