@use "../../global/variables.scss" as v;
@use "../base/decor-line-generate.scss" as line;

.program-nutrition-form__inner-header {
  // Для бесшовного перехода от планшета к десктопу max-width = 1439px
  @media (min-width: v.$tablet-width) and (max-width: calc(v.$desktop-width - 1px)) {
    padding: 0 70px;
  }
}

.program-nutrition-form__title {
  margin: 0;
  margin-bottom: 37px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 55px;
  }
}

.program-nutrition-form__description {
  max-width: 230px;
  margin: 0;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    max-width: 330px;
    font-size: 20px;
    line-height: 30px;
  }
}

.program-form__base-info {
  padding-top: 39px;

  @media (min-width: v.$tablet-width) {
    padding: 66px 70px 0;
  }

  @media (min-width: v.$desktop-width) {
    display: flex;
    padding: 66px v.$desktop-pd 0;
  }
}

.program-form__cat-param-input {
  margin-bottom: 24px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: v.$desktop-width) {
    width: 569px;
    margin: 0 81px 0 0;
  }
}

.cat-nutrition {
  position: relative;
  padding: 22px 0 19px;

  @media (max-width: v.$mobile-width-only) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      width: 100vw;
      height: 1px;
      background-color: v.$line;
    }

    &::after {
      top: auto;
      bottom: 0;
    }
  }

  @media (min-width: v.$tablet-width) {
    padding: 23px 27px 27px;
    outline: 1px solid v.$border-field;
  }

  @media (min-width: v.$desktop-width) {
    flex-grow: 1;
  }
}

.cat-param__list,
.cat-nutrition__list,
.additionally__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cat-param__item:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 20px;
  }
}

.cat-nutrition__item:not(:last-child) {
  margin-bottom: 13px;
}

.owner-data {
  padding-top: 26px;
  padding-bottom: 24px;

  @media (min-width: v.$tablet-width) {
    padding: 65px 70px 65px;
  }

  @media (min-width: v.$desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding: 70px v.$desktop-pd;
  }
}

.owner-data__title {
  display: flex;
  margin-bottom: 35px;

  @include line.line-decor-section ($mr:-20px);

  span {
    max-width: 190px;
  }

  @media (min-width: v.$tablet-width) {
    max-width: 100%;
    margin-bottom: 76px;

    @include line.line-decor-section ($width-left: 30px, $mt: 23px, $ml:-70px, $mr:-70px, $gap: 40px, $count-line: 2);

    span {
      max-width: none;
    }
  }

  @media (min-width: v.$desktop-width) {
    grid-column: 1/-1;

    @include line.line-decor-section ($width-left: 70px, $mt: 23px, $ml:-110px, $mr:-110px, $gap: 40px, $count-line: 2);
  }
}

.owner-data__label:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 0;
  }
}

.program-form__comment {
  padding-bottom: 23px;

  @media (min-width: v.$tablet-width) {
    padding: 0 70px 65px;
  }

  @media (min-width: v.$desktop-width) {
    padding: 0 v.$desktop-pd 70px;
  }
}

.additionally {
  padding-bottom: 34px;

  @media (min-width: v.$tablet-width) {
    padding: 0 70px 54px;
  }

  @media (min-width: v.$desktop-width) {
    padding: 0 v.$desktop-pd 61px;
  }
}

.additionally__title {
  display: flex;
  margin-bottom: 34px;

  @include line.line-decor-section ($mr:-20px);

  @media (min-width: v.$tablet-width) {
    margin-bottom: 57px;

    @include line.line-decor-section ($width-left: 30px, $mt: 23px, $ml:-70px, $mr:-70px, $gap: 40px, $count-line: 2);
  }

  @media (min-width: v.$desktop-width) {
    @include line.line-decor-section ($width-left: 70px, $mt: 23px, $ml:-110px, $mr:-110px, $gap: 40px, $count-line: 2);
  }
}

.additionally__list {
  @media (min-width: v.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  @media (min-width: v.$desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
}

.additionally__item:not(:last-child) {
  margin-bottom: 13px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 0;
  }
}

.program-form__inner-footer {
  text-align: center;

  @media (min-width: v.$tablet-width) {
    padding: 0 70px;
    text-align: left;
  }

  @media (min-width: v.$tablet-width) {
    padding: 0 v.$desktop-pd;
  }
}

.program-form__button {
  width: 100%;
  margin-bottom: 21px;
  font-family: inherit;
  border: none;

  @media (min-width: v.$tablet-width) {
    width: 282px;
    margin-right: 64px;
    margin-bottom: 0;
    padding: 16px 0;
    font-size: 20px;
  }

  @media (min-width: v.$desktop-width) {
    width: 570px;
    margin-right: 80px;
  }
}

.program-form__legend {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: v.$tablet-width) {
    font-size: 16px;
  }
}
